:root {
    /* Major colors */
    --default-color: #1C3C73;
    --primary-color: #008FF5;
    --secondary-color: #FCE762;
    --accent-color: #21295C;
    --success-color: #22BB33;
    --danger-color: #F32013;
    --warning-color: #FFCC00;

    /* Fixed colors for certain properties */
    --white-color: #fff;
    --lynx-white: #f7f7f7;
    --black-color: #282828;
    --gray-color: #9a9a9a;
    --hover-color: #d1d5db;
    --box-shadow-color: rgb(0 0 0 / 0.1);
    --code-bg-color: rgba(175, 184, 193, 0.2);
    
    /* Darker Shades of Major colors */
    --default-darker-color: #162F5A;
    --primary-darker-color: #0066AF;
    --secondary-darker-color: #F6D605;
    --success-darker-color: #167721;
    --danger-darker-color: #B01209;
    --warning-darker-color: #806600;

    /* Lighter Shades of Major colors */
    --default-lighter-color: #6B94DB;
    --primary-lighter-color: #8DD0FF;
    --secondary-lighter-color: #FDEE90;
    --success-lighter-color: #96ECA0;
    --danger-lighter-color: #FA9E99;
    --warning-lighter-color: #FFE992;

    /* Text colors */
    --content-text-color: #333;
    --text-over-primary-color: #161616;
}