* {
    margin: 0;
    padding: 0;
    border: 0;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

a {
    text-decoration: none;
}

ol, ul {
	list-style: none;
}

button {
    border: none;
    cursor: pointer;
    background-color: transparent;
}