@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

html {
    font-size: 62.5%;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-semi-bold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

.font-black {
    font-weight: 900;
}

.heading-1 {
    font-size: 4rem;
}

.heading-2 {
    font-size: 3.2rem;
}

.heading-3 {
    font-size: 2.4rem;
}

.heading-4 {
    font-size: 1.6rem;
}

.heading-5 {
    font-size: 0.8rem;
}

.para-1 {
    font-size: 4rem;
}

.para-2 {
    font-size: 3.2rem;
}

.para-3 {
    font-size: 2.4rem;
}

.para-4 {
    font-size: 1.6rem;
}

.line-height-headings {
    line-height: 1.3;
}

.line-height-paragraph {
    line-height: 1.3;
}

@media only screen and (max-width: 800px) {
    .heading-1 {
        font-size: 3.2rem;
    }

    .heading-2 {
        font-size: 2.4rem;
    }

    .heading-3, .heading-4, .heading-5 {
        font-size: 1.6rem;
    }

    .para-1 {
        font-size: 3.2rem;
    }

    .para-2 {
        font-size: 2.4rem;
    }

    .para-3, .para-4 {
        font-size: 1.6rem;
    }
}