.badge-round-avatar {
    border-radius: 9999px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 5px;
    right: 4px;
    border: 3px solid var(--white-color);
}

.badge-square-avatar {
    border-radius: 9999px;
    width: 25px;
    height: 25px;
    position: absolute;
    bottom: 2px;
    right: -2px;
    border: 3px solid var(--white-color);
}

.badge-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9999px;
    width: 18px;
    height: 18px;
    padding: 0.3rem;
    position: absolute;
    background-color: var(--primary-darker-color);
}

.badge-number {
    font-size: 1.2rem;
    color: var(--lynx-white);
    text-align: center;
}

.badge-left {
    top: -13px;
    left: -15px;
}

.badge-right {
    top: -17px;
    right: -13px;
}

.badge-xs {
    width: 40px;
    height: 40px;
    border: 3px solid var(--white-color);
}

.badge-lg {
    width: 30px;
    height: 30px;
    border: 3px solid var(--white-color);
}

.badge-md {
    width: 20px;
    height: 20px;
    border: 2px solid var(--white-color);
}

.badge-sm {
    width: 10px;
    height: 10px;
    border: 1px solid var(--white-color);
}

.badge-busy {
    background-color: var(--danger-color);
}

.badge-online {
    background-color: var(--success-color);
}

.badge-away {
    background-color: var(--warning-color);
}

/* -----------------------------------------> Responsive CSS <--------------------------------- */
@media only screen and (max-width: 522px) {
    .badge-xs {
        width: 30px;
        height: 30px;
    }

    .badge-lg {
        width: 20px;
        height: 20px;
    }

    .badge-md {
        width: 10px;
        height: 10px;
    }

    .badge-sm {
        width: 5px;
        height: 5px;
    }

    .badge-round-avatar {
        bottom: 5px;
        right: 2px;
    }

    .badge-square-avatar {
        bottom: 4px;
        right: -1px;
    }
}